.add_book_wrapper {
    display: flex;
    justify-content: center;
    font-family: 'Orbitron';

}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 750px;
}

.form_label {
    display: contents;
    height: 35px;
    margin: 5px;
    font-size: 20px;
}

.form_input {
    display: block;
    height: 32px;
    margin: 5px;
    padding: 5px;
    border: inset 1px #5A5C5D;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    font-family: 'Orbitron';
    box-shadow: 1px 1px 4px #3C3D3E;
    background-color: rgba(255,255,255, 0.2);
}
.form_input:focus {
    border: inset 1px  #70D5FF;
    background-color: rgba(151,224,255,0.2) ;
    box-shadow:  0px 0px 3px #66afe9 ;
}

.button{
    margin: 10px;
    width: 140px;
    height: 35px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px #000000;
    background-color: rgba(255,255,255, 0.2);
    font-family: 'Orbitron';
    outline: none;
    border: none;
}
.button:hover{
    border: solid 1px #000000;
    box-shadow:   1px 1px 4px  #1983ED;
}
.button:active{
    box-shadow: inset 2px 1px 6px  #545656;
}
@media all and (max-width:992px){

}

@media all and (max-width:768px){
    .form {
        width: 570px;
    }

    .form_label {
        font-size: 18px;
    }

    .form_input {
        height: 30px;
        font-size: 16px;
    }
}

@media all and (max-width:576px){
    .form {
        width: 320px;
    }

    .form_label {
        font-size: 16px;
    }

    .form_input {
        height: 28px;
        font-size: 16px;
    }
}


