.App-link {
    color: #61dafb;
}

.content-box {
    display: flex;
    justify-content: center;
    overflow-y:hidden;
    padding: 10px;
}

.app-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;

}
